<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet"  type="text/css"  href="../css/style.css" />
</head>

<body>
  <main>
    <h1>
      <%= title %>
    </h1>
    <ul id="kategoria">
      <% kategoria.slowo.forEach(function(slowo){ %>
        <li>
          <%= slowo.text%>
        </li>
        <% }) %>
          <li><a href="/<%= kategoria.name%>/graj">Losuj wyraz i graj</a>
    </ul>
  </main>
  <div>
    <h3>Nowe slowo</h3>
    <%- include("forms/new_form.ejs") %>
  </div>
</body>

</html>